<html>
    <head>
        <title>Travel Destinations</title>
    </head>
    <body background="destinations bg.png">
        <font face="Comic Sans MS"><h1>🧳 PopularTravel Destinations</h1></font>
        <div>
            <a href="home.html">Home</a> |
            <a href="destinations.html">Destinations</a> |
            <a href="tips.html">Travel Tips</a>
        </div>
        <h2><font face="Comic Sans MS">Essential Travel Tips</font></h2>
        <p></p>
        <ol>
            <li><font face="Comic Sans MS"><b>Pack Light:</b>Bring only essential</font></li>
            <li><font face="Comic Sans MS"><b>Stay Connected:</b>Get a local SIM card.</font></li>
            <li><font face="Comic Sans MS"><b>Learn Basic Prases:</b>Helps in communication.</font></li>
            <li><font face="Comic Sans MS"><b>Keep Copies:</b>Passport,tickets and bookings.</font></li>
            <li><font face="Comic Sans MS"><b>Try Local Food:</b>Enhances travel experience.</font></li>
        </ol>
        <h2><font face="Comic Sans MS">Emergency Contacts</font></h2>
        <table border="1">
            <tr>
                <th><font face="Comic Sans MS">Country</font></th>
                <th><font face="Comic Sans MS">Emergency Number</font></th>
            </tr>
            <tr>
                <td><font face="Comic Sans MS">USA</font></td>
                <td><font face="Comic Sans MS">911</font></td>
            </tr>
            <tr>
                <td><font face="Comic Sans MS">UK</font></td>
                <td><font face="Comic Sans MS">999</font></td>
            </tr>
            <tr>
                <td><font face="Comic Sans MS">Japan</font></td>
                <td><font face="Comic Sans MS">110</font></td>
            </tr>
        </table>
        


        <footer>
            <hr>
              <p>&copy;<font face="Comic Sans MS">2025 Travel Destinations Guide</font></p>
        </footer>
        
    </body>
</html> 